@import url('https://fonts.googleapis.com/css2? family= Lucky+Guy & family= Rubik & display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #dadada ;
  font-family: 'Luckiest Guy', cursiva;
  font-size: 30px;
 }
